// Imports

@import "../../scss/variables/colors.scss";

// Style


.allrights_main{
  background-color: $green_main;
  // height: 50px;
  border-top: 1px white dashed;
  .allrights_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}