// Imports

@import "../../scss/variables/variables.scss";
@import "../../scss/variables/mixins.scss";

// Media

@include Laptop {
  .header {
    .header_flex {
      .header_content {
        flex-direction: column;
        padding: 0 40px;
        .header_logo{
          margin: 4px 0;
        }
        .routes_accordion{
          .routes_div_accordion{
            flex-direction: column;
            gap: 12px;
            .header_nav_link_text{
              font-size: 20px !important;
            }
          }
        }
        .header_contact_lang{
          margin: 16px 0;
          .header_contact{
            display: none;
          }
        }
      }
    }
  }
}


@include Bg_mobile {
  .header {
    .header_flex {
      .header_content {
        padding: 0 20px;
      }
    }
  }
}
