// Imports

@import "../../scss/variables/variables.scss";
@import "../../scss/variables/mixins.scss";

// Media

@include Laptop {
  .header {
    .header_flex {
      .header_content {
        flex-direction: column;
        padding: 0 40px;
        .routes_div {
          display: none;
        }
        .routes_accordion{
          display: flex;
        }
        .header_contact_lang{
          margin: 16px;
          .header_contact{
            display: none;
          }
        }
      }
    }
  }
}


@include Bg_mobile {
  .header {
    .header_flex {
      .header_content {
        padding: 0 20px;
      }
    }
  }
}
