// Imports

@import "../../scss/variables/colors.scss";

// Templates

%header_nav_link{
  .header_nav_link {
    text-decoration: none;
    color: rgb(10, 10, 10);
    .header_nav_link_text {
      color: rgb(10, 10, 10);
    }
  }
}

// Style

.header_flex {
  margin: 0 auto;
  max-width: 1440px;
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    width: 100%;
    .routes_accordion{
      display: flex;
        .routes_div_accordion{
          display: flex;
          align-items: center;
          gap: 16px;
          @extend %header_nav_link;
          .header_nav_link_text{
            font-size: 17px;
            font-family: Verdana, sans-serif;
            text-align: center;
          }
        }
    }
    .header_contact_lang {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      .header_lang {
        border-radius: 8px;
        padding: 4px 4px;
        border: 1px black solid;
        text-align: center;
      }
      .header_contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        .header_social_icon_link {
          width: 24px;
          height: 24px;
          color: rgb(20, 20, 20);
          .header_social_icon {
            font-size: 24px;
            color: rgb(20, 20, 20);
          }
        }
      }
    }
  }
}
