.page_title_div_flex{
  height: 250px;
  background-image: url('../../assets/images/page_title_background.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 16px;
  margin: auto 0;
  .page_title_div_flex_opacity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    .page_title{
      font-family: Verdana, sans-serif;
      color: white;
    }
  }
}