.slogan_home_main {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  position: relative;
  .slogan_home_video {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .slogan_home_opacity {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    .slogan_home_slogan_laptop {
      display: none;
      .slogan_home_slogan_laptop_p {
        color: white;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 0.9px;
      }
    }
    .slogan_home_slogan {
      color: white;
      font-size: 38px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 0.9px;
    }
  }
}
