// Imports

@import "../../../scss/variables/colors.scss";

// Style

.our_services_home_main {
  margin: 0 auto 60px auto;
  max-width: 1440px;
  .our_services_home_title {
    font-size: 36px;
    color: $green_main;
    text-align: center;
    padding: 40px 0;
    font-family: Verdana, serif;
    text-transform: uppercase;
  }
  .our_services_home_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 0 24px;
    .our_services_home_item {
      display: flex;
      justify-content: center;
      width: 100%;
      min-width: 200px;
      max-width: 1000px;
      height: 300px;
      border-radius: 16px;
      cursor: pointer;
      overflow: hidden;
      border: 0.8px #777 solid;
      .our_services_home_item_opacity {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // border-radius: 16px;
        transition: all 0.4s linear;
        .our_services_home_item_p_center {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      .our_services_home_item_description_div {
        display: flex;
        gap: 16px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
        padding: 18px 24px;
        color: black;
        // -webkit-box-shadow: 12px 10px 14px -3px rgba(51, 51, 51, 1);
        // -moz-box-shadow: 12px 10px 14px -3px rgba(51, 51, 51, 1);
        // box-shadow: 12px 10px 14px -3px rgba(51, 51, 51, 1);
        .our_services_home_item_description_title {
          font-size: 32px;
          color: #222;
          font-family: Verdana, serif;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.8px;
        }
        .our_services_home_item_description_p {
          font-size: 18px;
        }
      }
    }
  }
}
