// Imports

@import "../../../scss/variables/variables.scss";
@import "../../../scss/variables/mixins.scss";

// Style

@include Bg_mobile {
  .our_services_home_main {
    .our_services_home_title {
      font-size: 22px !important;
      padding: 24px 0;
    }
    .our_services_home_flex {
      margin: 0 20px;
      padding: 0;
      .our_services_home_item {
        flex-direction: column !important;
        height: auto;
        .our_services_home_item_opacity {
          height: 300px;
        }
        .our_services_home_item_description_div{
          padding: 24px 28px 40px 28px;
          .our_services_home_item_description_title{
            font-size: 28px;
          }
          .our_services_home_item_description_p{
            font-size: 16px;
          }
        }
      }
    }
  }
}

@include St_mobile {
  .our_services_home_main {
    .our_services_home_title {
      font-size: 17px;
    }
    .our_services_home_flex {
      .our_services_home_item {
        .our_services_home_item_opacity {
          height: 220px;
        }
        .our_services_home_item_description_div{
          padding: 18px 16px 32px 16px;
          .our_services_home_item_description_title{
            font-size: 20px;
          }
          .our_services_home_item_description_p{
            font-size: 14px;
          }
        }
      }
    }
  }
}
