.welcome_main {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  .welcome_main_video{
    width: 100%;
    height: calc(100vh - 95px);
    object-fit: cover;
    overflow: hidden;
  }
  .welcome_main_opacity {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    .welcome_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      padding: 120px 120px;
      max-width: 900px;
      width: 100%;
      .welcome_content_title {
        color: rgb(240, 240, 240);
        font-size: 48px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 1px;
      }
      .welcome_content_description {
        color: rgb(240, 240, 240);
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      .welcome_content_btn_link{
        width: 70%;
        margin-top: 32px;
        .welcome_content_btn {
          width: 100%;
          padding: 12px 24px;
          color: rgb(240, 240, 240);
          font-size: 18px;
          border-radius: 8px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          border: 2px whitesmoke solid;
          background-color: rgba(0, 0, 0, 0);
          transition: all 0.3s ease-out;
          letter-spacing: 0.8px;
          text-transform: uppercase;
          cursor: pointer;
          line-height: 130%;
        }
        .welcome_content_btn:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }
}
