// Imports

@import "../../../scss/variables/variables.scss";
@import "../../../scss/variables/mixins.scss";

// Style

@include Laptop {
  .welcome_main {
    margin: 28px 0;
    .welcome_main_video{
      height: 900px;
    }
    .welcome_main_opacity {
      .welcome_content {
        padding: 60px 40px !important;
      }
    }
  }
}

@include Bg_mobile {
  .welcome_main {
    background-position: center;
    .welcome_main_opacity {
      .welcome_content {
        padding: 40px 20px !important;
        text-align: center;
        .welcome_content_title {
          font-size: 28px !important;
        }
        .welcome_content_description {
          font-size: 14px !important;
        }
        .welcome_content_btn_link {
          width: 70% !important;
          margin: auto !important;
          margin-top: 18px !important;
          .welcome_content_btn {
            font-size: 14px !important;
            padding: 10px 12px !important;
          }
        }
      }
    }
  }
}

@include St_mobile {
  .welcome_main {
    .welcome_main_opacity {
      .welcome_content {
        .welcome_content_title {
          font-size: 22px !important;
        }
        .welcome_content_description {
          font-size: 12px !important;
        }
        .welcome_content_btn_link {
          width: 100%;
        }
      }
    }
  }
}
